<launch>

<node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/cmd_vel" />
    <param name="default_vx_max" value="1.0" />
    <param name="default_vw_max" value="1.0" />
    <param name="default_vx_min" value="-1.0" />
    <param name="default_vw_min" value="-1.0" />
</node>
<node name="striker_teleop" pkg="pantograph_teleop" type="striker_teleop">
    <remap from="theta1_dot" to="/pantograph_hardware/theta1_controller/command" />
    <remap from="theta4_dot" to="/pantograph_hardware/theta4_controller/command" />
</node>

</launch>
